.roll {
  position: relative;
  display: inline-block;
  perspective: 700px;
  overflow: hidden;
  vertical-align: top;
}

.line {
  display: inline-block;
  transform-style: preserve-3d;
  white-space: nowrap;
}

.char {
  display: inline-block;
  transform-style: preserve-3d;
}
